<article class="article-card-container">
  <div>
    <h2>De Zaden-bibliotheek</h2>
    <p>Ons tweede Bieb in Bloei project is de Zadenbieb. Deze kast is ook gemaakt door kinderen van de Maakplaats bij OBA Javaplein onder leiding van Roel Pothoven. In deze kast kun je zaden voor je moestuin, tuin of balkon ruilen. Buurtbewoners en buurttuinen hebben na het zaaiseizoen soms zaden over die beperkt houdbaar zijn.
 
 
 
 
 
 
            Door ze in de kast te delen zorgen we ervoor dat de zaden die anders verloren gaan gebruikt kunnen worden om de stad te vergroenen. Roel: “We hebben tijdens het maken van de kast super veel geleerd samen met de kinderen over houtbewerking en natuurlijk over zaden, natuur en plantjes. Als je de laatjes opentrekt zie je wat de kinderen hebben gemaakt”.</p>
    <a href="" class="btn btn-green">Bekijk de zaden
      <svg
        width="32"
        height="33"
        viewBox="0 0 32 33"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M30.2051 13.9544L5.02757 0.852381C3.03041 -0.186914 0.6427 1.26221 0.6427 3.51361V29.1222C0.6427 31.3489 2.98308 32.7996 4.97731 31.809L30.1549 19.3025C32.3522 18.211 32.3815 15.087 30.2051 13.9544Z" fill="currentColor" />
      </svg>
    </a>
  </div>
  <picture>
    <img
      class="main-img"
      src="https://placehold.co/600x400"
      alt="placeholder">
  </picture>
</article>

{% comment %} styling {% endcomment %}
<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .article-card-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 1.5rem;
    width: 100vw;
    height: auto;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 2em;
    margin-bottom: 1em;

    picture {
      .main-img {
        height: 100%;
        min-height: 15rem;
        width: 100%;
        border-radius: 1em;
      }
    }

    div {
      h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: var(--font-header);
        color: var(--text-body);
      }

      p {
        margin-left: 1rem;
        margin-right: 1rem;
      }

      a {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 1rem;
        margin: 1rem auto;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2rem;

        background-color: var(--color-primary);
        color: var(--color-secondary);
        text-decoration: none;
        transition: 0.15s ease-in-out;

         &:hover {
          background-color: white;
          color: var(--color-accent);
          scale: 105%;
        }

        img {
          height: 1rem;
          width: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }

    @media (min-width: 800px) {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      width: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;

      div {
        margin-left: 3rem;

        p {
          margin: 0 5vw 0 0;
        }

        a {
          margin: 2rem 0;
        }
      }
    }

    @media (min-width: 1000px) {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      width: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;

      div {
        margin-left: 3rem;

        p {
          margin: 0 15vw 0 0;
        }

        a {
          margin: 2rem 0;
        }
      }
    }
  }
</style>