<footer>
  <!-- Logo -->
  <a href="/">
    <img src="../assets/logo-bieb-in-bloei-groen.svg" alt="logo bieb in bloei">
  </a>

  <!-- Adress -->
  <section class="adres">
    <h3>Adres</h3>
    <p>OBA Linnaeusstraat
    Linnaeusstraat 44
    1092CL Amsterdam</p>
  </section>

  <!-- Menu -->
  <section class="menu">
    <h3>Menu</h3>
    <ul class="menu-items">
      <li>
        <a href="/stekjes">Stekjes</a>
      </li>
      <li>
        <a href="/zaden">Zaden</a>
      </li>
      <li>
        <a href="/geveltuin">Geveltuin</a>
      </li>
      <li>
        <a href="/agenda">Agenda</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/partners">Partners</a>
      </li>
    </ul>
  </section>

  <!-- Samenwerken -->
  <section class="samenwerken">
    <h3>Samenwerken?</h3>
    <p>Wil jij met andere organisaties, buurtbewoners en studenten samenwerken aan stedelijke uitdagingen in Amsterdam Oost? Stuur een e-mail naar
      <a href="mailto:buurtcampusoost@hva.nl">buurtcampusoost@hva.nl</a>.</p>
  </section>
</footer></body></html><style>

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #F9E9C2;
  padding: 3em 2em;
  gap: 30px;
  z-index: 30;

  h3 {
    font-size: 1.5em;
    color: #4E7141;
    font-weight: 800;
  }

  .adres {
    p {
      max-width: 200px;
    }
  }

  .menu ul {
    list-style-type: none;
    padding: 0 1em 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li a {
      text-decoration: none;

       &:hover {
        color: black;
      }
    }
  }

  .samenwerken {
    a {
      text-decoration: none;
    }
  }

}</style>