{% render 'partials/head.liquid' %}

<section class="description">
    <h2>
        <span class="highlight-brown">Over de</span>
        <span class="highlight-green">pagina-titel</span>
    </h2>

    <p>Inleidende tekst</p>
    <a href="/" class="btn btn-green">
        Bekijk de pagina-titel
        <svg width="32" height="33" viewBox="0 0 32 33" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M30.2051 13.9544L5.02757 0.852381C3.03041 -0.186914 0.6427 1.26221 0.6427 3.51361V29.1222C0.6427 31.3489 2.98308 32.7996 4.97731 31.809L30.1549 19.3025C32.3522 18.211 32.3815 15.087 30.2051 13.9544Z" fill="currentColor"/>
        </svg>
    </a>
</section>