{% render 'partials/head.liquid' %}

<header class="hero">
  <picture>
    <source type="image/avif" srcset="/assets/bib-hero2.avif">
    <source type="image/webp" srcset="/assets/bib-hero2.webp">
    <img src="/assets/bib-hero2.png" alt="" width="1280" height="720">
  </picture>
  <h1>stekjes</h1>
</header>

