<nav>
  <a href="/" class="logo">
    <img src="../assets/logo-bieb-in-bloei-wit.svg" alt="logo bieb in bloei">
  </a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/stekjes">Stekjes</a></li>
    <li><a href="/zaden">Zaden</a></li>
    <li><a href="/geveltuin">Geveltuin</a></li>
    <li><a href="/agenda">Agenda</a></li>
    <li><a href="/partners">Partners</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
