<ul>
    <li>
        <picture>
            <img src="" alt="">
        </picture>
        <div>
            <h2></h2>
            <address></address>
            <p></p>
            <time></time>
            <time></time>
        </div>
    </li>
</ul>


{% comment %} styling {% endcomment %}
