* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Black";
  src: url(../fonts/Poppins-Black.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf) format("truetype"),
    url(../fonts/Poppins-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.ttf) format("truetype");
  font-display: swap;
}

body {
  /* Colors */
  --color-primary: #4e7141;
  --color-primary-dark: #3c593e;
  --color-secondary: #f9e9c2;
  --color-accent: #ff8d06;
  --color-accent-dark: #491b02;

  --color-bg-main: #fff;
  --color-bg-secondary: #f9e9c2;

  --text-light: #fff;
  --text-dark: #000;
  --text-body: #4e7141;
  --text-accent: #ff8d06;

  /* Fonts */
  --font-header: "Poppins-Black", sans-serif;
  --font-subheader: "Poppins-Bold", sans-serif;
  --font-paragraph: "Poppins-Regular", sans-serif;
  --font-link: "Poppins-Regular", sans-serif;

  /* Sizes */
  --font-size-desktop-xl: 3em;
  --font-size-desktop-l: 2em;
  --font-size-desktop-m: 1.3em;
  --font-size-desktop-s: 1.2em;
  --font-size-mobile-xl: 2em;
  --font-size-mobile-l: 1.2em;
  --font-size-mobile-m: 1em;
  --font-size-mobile-s: 0.8em;

  /* General styling */
  font-family: var(--poppins);
  color: var(--text-dark);
  background-color: var(--text-light);
  line-height: 1.4;
  font-size: var(--font-size-desktop-s);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-subheader);
  color: var(--text-light);
  margin: 0.5em 0;
}

h1 {
  font-family: var(--font-header);
  font-size: var(--font-size-mobile-xl);
  @media (min-width: 850px) {
    font-size: var(--font-size-desktop-xl);
  }
}

h2 {
  font-size: var(--font-size-mobile-l);
  @media (min-width: 850px) {
    font-size: var(--font-size-desktop-l);
  }
}

h3 {
  font-size: var(--font-size-mobile-m);
  @media (min-width: 850px) {
    font-size: var(--font-size-desktop-m);
  }
}

p {
  font-family: var(--font-paragraph);
  color: var(--text-body), var(--text-dark);
}

/* Links */
a {
  font-family: var(--font-paragraph);
  text-decoration: none;
  color: #ff8d06;
}

/* List */
li, summary {
  list-style-type: none;
}

a, button, summary {
  cursor: pointer;
}

/* Buttons */
/* .button {
  width: fit-content;
  padding: 0em 2em;
  border-radius: 2rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-decoration: none;
  margin: 1em 0em;
  transition: 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-bg-main);
    color: var(--color-accent);
    scale: 105%;
  }

  img {
    height: 1rem;
    width: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
} */
/* algemene button styling */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: var(--font-size-mobile-s);
  font-weight: 600;
  transition: background-color 0.2s ease, color 0.2s ease;

  & svg{
    height: 1rem;
    width: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &:hover {
    scale: 105%;
    transition: scale 0.2s ease;
  }
}

@media (min-width: 786px) {
  .btn {
    font-size: var(--font-size-desktop-s);
    & svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  
}

/* Bekijk de (pagina-naam) */
.btn-green {
  background-color: var(--color-primary);
  color: var(--color-bg-secondary);
}

.btn-green:hover {
  background-color: var(--color-accent-dark);
}

/* aanmelden buttons */
.btn-brown {
  background-color: var(--color-accent-dark);
  color: var(--color-bg-secondary);
}

.btn-brown:hover {
  background-color: var(--color-accent);
}

/* verzend buttons */
.btn-orange {
  background-color: var(--color-accent);
  color: var(--color-accent-dark);
}

.btn-orange:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-accent);
}
/* titel kleuren */
.highlight-brown {
  color: var(--color-accent-dark);
}

.highlight-green {
  color: var(--color-primary);
}

/* Transition */
@view-transition {
  navigation: auto;
}
